/**
 * Forms
 */

.form-text{
  min-width: 200px;
  height: 30px;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}

.form-submit{
  height: 30px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  margin: 0 0 0 -5px;
}