body{
  background: url('../splash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  color: #333;
  display: flex;
    display: -webkit-flex;
  align-items: center;
    -webkit-align-items: center;
  justify-content: center;
    -webkit-justify-content: center;
}

.msg{
  color: #fff;
  font-size: 90px;
  margin: 0;
  text-transform: capitalize;

  span{
    padding: 0 10px;
    background: #000;
  }
}

.cta{
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}




